.fa-brands {
    color: black;
    font-size: 10vmin;
    /* Color , size , rotate , animate , transform */
}

body {
    width: 100vw;
    height: 100vh;
}

.fundo {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: burlywood;
}

.iphone {
    width: 50vw;
    height: 50vh;
    background-image: url(../images/ios13-iphone-xs-home-assistive-touch.png);
    background-repeat: no-repeat;
    background-attachment: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

iframe {
    background-color: lightgray;
    border-radius: 1rem;
    display: block;
    z-index: 1;
}
 