* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

body {
    font-family: 'Roboto Flex', sans-serif;
    margin: 30px 20px;
}

.corpo {
    height: 620px;
    width: 750px;
    margin: 0 auto;
}

h1 {
    font-weight: bolder;
    font-size: 45px;
    margin-bottom: 20px;
}

h2 {
    font-weight: bold;
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
}

img {
    width: 400px;
    height: 250px;
    margin-left: 175px;
}

