body {
    font-family: 'Catamaran', sans-serif;
}

:root {
    --blue-30: hsl(240, 100%, 30%);
    --blue-50: hsl(240, 100%, 50%);
    --blue-70: hsl(240, 100%, 70%);
    --blue-90: hsl(240, 100%, 90%);
}

.bg-blue {
    background-color: var(--blue-30);
}

.text-blue {
    color: var(--blue-70);
}